hr {
  border-top: 1px solid #093750 !important;
}
img{
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  display: block;
  margin: auto;
}
div.mwarn {
  background-color: #4d1515;
  border-color: #691c1c;
  border-left: 5px solid #691c1c;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 0.5em;
}

div.minfo {
  background-color: #ff9800;
  border-color: #f1a32f;
  border-left: 5px solid #f1a32f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 0.5em;
}

//********************************************************
//                 Table
//********************************************************

.post-content > table {
  background-color: #083750 ;
  margin: 0 auto 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  tbody {
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  }

  th {
    text-transform: uppercase;
    text-align: center;
    padding: .5em .75em;
  }
  td {
    text-align: center;
    padding: .5em;
  }

}

table.wide {
  width: 100%;
  max-width: 100%;
}

table.inner-borders {
  border-collapse: collapse;
  border-style: hidden;
  td {
    border: 1px solid #022335;
  }
}

.post-title-main {
  font-size: 48px !important;
}

//********************************************************
//                    Post
//********************************************************
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  padding-top: 50px;
  margin-top: -50px;
}
.post-content h1 {
  font-weight: 100 !important;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 36px;//42px;
}

/* inspired from https://github.com/necolas/normalize.css/issues/604#issuecomment-230840498
summary {
  display: block;
}

details > summary::-moz-list-bullet {
  list-style-type: disclosure-closed;
  -moz-user-select: none;
}

details[open] > summary::-moz-list-bullet {
  list-style-type: disclosure-open;
}
*/

/* h2.post-title {
  padding-top: 10px;
  text-align: left;
}
div.post-meta {
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;
  ul {
    display: inline;
    padding-left: 0;
    float: right;
    margin: 0;
  }
  ul > li {
    display: inline;
    padding: 0 0 5px 20px;
  }
  .post-time {
    display: inline;
  }
}
.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}                             */
